@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');

body{
  background-color: #FFD166;
  margin: 2%;
}

h1{
  font-family: 'Black Han Sans', sans-serif;
  color: #F5F5F5;
}

h5{
  color: #F5F5F5;
}

.center {
  display: flex;
  justify-content: center;
  font: arial;
}

.hint-p {
  display: flex;
  justify-content: center;
  padding: 0.1vw;
  color: #4B0082;
}

#img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  max-width:95%;
  max-height:95%;
}

#button {
  background-color: #008080;
  border: none;
  color: #F5F5F5;
  padding: 8px 22px;
  text-align: center;
  text-decoration: none;
}

#img-button{
  border-radius: 0vw 0vw 5vw 5vw;
  padding: 2%;
  display: flex;
  background-color: #FFFCF9;
  justify-content: space-around;
  flex-direction: column;
}

#require-input {
font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
max-width: 100%;
color:#0000CD;
}

#user-input {
  font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
  font-size: 80%;
}

#success-msg {
  display: flex;
  justify-content: center;
  height: 4vw;
  color: #32CD32;
}

@-webkit-keyframes fade-out {
  0%   { opacity: 1; }
  60%  { opacity: 1; }
  100% { opacity: 0; }
}

@-webkit-keyframes fade-in {
  0%   { opacity: 0; }
  60%  { opacity: 0; }
  100% { opacity: 1; }
}

#header {
  background-color: #008080;
  border-radius: 5vw 5vw 0vw 0vw;
  padding: 2%;
}

.result-container{
  margin: 0vw 20vw 0vw 20vw;
  font-weight: bold;
  padding: 2%;
}

#load-error-msg{
  color: #DC143C;
}

#hint-msg{
  color: #FF1493;
}

#require-submit{
  max-width: 100%;
  padding: 2%;
}

#main{

}

#story-msg{
  text-align: center;
}