@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');

.center {
  display: flex;
  justify-content: center;
  font: arial;
}

body{
  background-color: coral;
  margin: 2%;
}

h1{
  font-family: 'Black Han Sans', sans-serif;
  font-size: 2.5vw;
}

h5{
  font-size: 1.5vw;
}

#img {
  margin: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border: 5px;
  border-style: solid;
}

#button {
  background-color: DARKKHAKI;
  border: none;
  color: white;
  padding: 8px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5vw;
}

#img-button{
  display: flex;
  background-color: DEEPSKYBLUE;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#msg {
  word-spacing: 1px;
  font-style: italic;
  font-size: 1.5vw;
}

#require_input {
font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
color: blue;
font-size: 1.5vw;
}

#user-input {
  font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
  font-size: 50%;
}

#success-msg {
  display:flex;
  justify-content: center;
  color: lime;
  font-weight: bold;
  font-style: italic;
  background-color: black;
}

#header {
  background-color: white;
  padding: 2px;
}

#load-error-msg{
  display:flex;
  justify-content: center;
  font-weight: bold;
  font-style: italic;
  background-color: black;
}

#load-error-msg p{
  color: red;
}
