@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');

body{
  background-color: #FFD166;
  margin: 2%;
}

h1{
  font-family: 'Black Han Sans', sans-serif;
  font-size: 3.5vw;
  color: #F5F5F5;
  height: 1.8vw;
}

h5{
  font-size: 0.9vw;
  color: #F5F5F5;
}

.center {
  display: flex;
  justify-content: center;
  font: arial;
}

.hint-p {
  display: flex;
  justify-content: center;
  font-size: 1.5vw;
  padding: 0.1vw;
}

#img {
  margin: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border: 3px;
  border-style: solid;
  width: 35vw;
}

#button {
  background-color: #008080;
  border: none;
  color: #F5F5F5;
  padding: 8px 22px;
  margin-top: 1vw;
  margin-left: 1vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.0vw;
  height: 3.0vw;
}

#img-button{
  border-radius: 0vw 0vw 5vw 5vw;
  padding-top: 1.5vw;
  display: flex;
  background-color: #FFFCF9;
  justify-content: center;
  flex-direction: column;
}

#msg {
  word-spacing: 1px;
  font-style: italic;
  font-size: 1.5vw;
}

#require_input {
font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
color:#0000CD;
font-size: 1.5vw;
}

#user-input {
  font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
  font-size: 80%;
}



#success-msg {
  background-color: #32CD32;
  color: #FFFFFF;
}

@-webkit-keyframes fade-out {
  0%   { opacity: 1; }
  60%  { opacity: 1; }
  100% { opacity: 0; }
}

@-webkit-keyframes fade-in {
  0%   { opacity: 0; }
  60%  { opacity: 0; }
  100% { opacity: 1; }
}

#header {
  background-color: #008080;
  padding: 2px;
}

.result-container{
  margin: 0vw 20vw 0vw 20vw;
  font-weight: bold;
  background-color: black;
  word-spacing: 1px;
  font-size: 1.5vw;
}

#load-error-msg{
  color: #DC143C;
}

#hint-msg{
  color: #9400D3;
}

#require-submit{
  display: flex;
  justify-content: center;
  padding: 1vw;
}

#header{
  border-radius: 5vw 5vw 0vw 0vw;
}

#main{
  margin-left: 5vw;
  margin-right: 5vw;
}
